body {
    max-width: 900px;
    margin: auto;
    background-color: #eee;
    background-image: url("https://media0.giphy.com/media/JROB2yZw89dFXrPXR9/giphy.gif?cid=790b76113d6344d282eab8b7b1c32700d60ff6c72b941867&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#title {
    color: #333;
    font-size: 40px;
    text-transform: uppercase;
}

.img0 {
    border-color: #050505;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
}

.section-subtitle {
    color: #222
}

.box-model-test {
    background: #666;
    padding: 5px;
    border: black outset 3px;
    margin: 30px
}

.sub-section {
    background-color: rgba(221, 221, 221, 0.8);
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
}

.sub-section-text {
    margin: 0;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}

.img1 {
    margin-bottom: 15px;
    max-width: 100%;
}

footer {
    padding: 15px 10px 5px 10px;
    background: #222;
    color: #aaa;
    border-top-width: 5px;
    border-top-color: #111;
    border-top-style: solid;
    margin: 0 -210px 0 -210px;
}

.footer-message-tip {
    font-style: italic;
    font-size: 12px;
    font-weight: 100;
}

ol {
    list-style-type: upper-roman;
}

.test li a {
    text-decoration: underline;
    font-weight: 600;
    color: #aaa;
    list-style-type: "» ";
}